JUSTAI_ROOT=/home/justinleopard/projects/JustAi
JUSTAI_LOCALMANUS_ROOT=/home/justinleopard/projects/JustAi/LocalManus
JUSTAI_RELAY_ROOT=/home/justinleopard/projects/JustAi/relay-room
JUSTAI_RELAY_SERVER=local-server
JUSTAI_SPACETIME_SESSION=spacetime
JUSTAI_PATH=/home/justinleopard/.local/bin:/home/justinleopard/.openfang/bin:/home/justinleopard/.cargo/bin
